@media ( max-width: 1439px )
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
    
  .booking
    width: 340px
  .map
    width: 340px
  .hotel
    padding-bottom: 59px
    &-slider
      width: 100%
    &-grid
      flex-direction: column
    &-right
      flex-direction: row
      margin: 0
      margin-top: 30px
      justify-content: space-between
  .booking
    padding-left: 22px
    padding-right: 23px
  .newsletter
    padding-top: 92px
    padding-bottom: 93px 
    &-wrapper
      width: 700px
  .reviews
    padding-bottom: 60px 
    &__text
      width: 455px
    &-slider
      &__button
        top: 158px
        &--prev
          left: 0
        &--next
          right: 0%
      &__item
        max-width: 580px
        padding: 0 60px 30px 60px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
     
  .activities 
    &-wrapper
      flex-wrap: wrap
      gap: 20px 20px
  .card
    width: 340px
  .packages
    &-title
      font-size: 30px;
      line-height: 38px; 
    &-wrapper
      grid-template: 1fr 1fr 1fr/1fr 1fr 
  
  
@media ( max-width: 767px )
  .container
    max-width: 88%
  .navbar 
    &-top
      height: 70px
    &-bottom
      display: none 
    &__search
      display: none
    &__user
      display: none
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      border: none
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
    &-slider
      height: 176px
    &-wrapper
      justify-content: space-between 
      &__stars
        margin-right: 15px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 6px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .logo
    width: 99px
    height: 14px
    
  .booking
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    &__button
      width: 235px
    &__info
      width: 235px
  .call-center
    width: 235px

  .map
    height: 172px
    margin-top: 20px
    width: 100%
  .hotel
    padding-bottom: 40px
    &-right
      align-items: center
      flex-direction: column
      margin: 0
      margin-top: 20px
      justify-content: space-between
  .newsletter
    height: 319px
    padding-bottom: 83px
    padding-top: 76px
    &-wrapper
      align-items: start
      width: 88%
      flex-direction: column
    &-title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    max-width: 280px
    &__input
    
      padding-left: 20px
  .reviews
    padding-top: 40px
    padding-bottom: 50px
    &__title
      width: 245px
      font-size: 18px
      line-height: 22px
      margin-left: auto
      margin-right: auto
      margin-bottom: 42px
    &__text
      width: 98%
      text-align: left
    &-slider
      &__item
        
        width: 100%
        padding: 0 30px 35px 30px
      &__button
        top: 28px
        &--prev
          left: 14%
        &--next
          right: 14%

  .activities
    padding: 40px 0 60px 0
    &__title
      margin-bottom: 36px
      font-size: 18px;
      line-height: 23px;
    &-wrapper
      justify-content: center
      flex-basis: 100%
      gap: 20px 
  .card
    width: 280px
    &:nth-child(1)
      order: 0
    &:nth-child(2)
      order: 2
    &:nth-child(3)
      order: 1
    &:nth-child(4)
      order: 3
  .packages
    &-title
      font-size: 18px;
      line-height: 22px;
    &-wrapper
      grid-template: repeat(5,1fr)/ 100%
  .package
    margin: 0 auto
    &--big
      grid-column: 1/1
      flex-direction: column
      max-width: 350px
      height: 500px
    &__offer
      &--big
        padding: 4px 9px
        border-radius: 0px 4px 4px 0px;
        font-size: 8px
        line-height: 10px
    &__title
      &--big
        margin-top: 0
        margin-bottom: 23px
    &__description
      &--big
        display: none
    &__pating
      &--big
        display: none
    &__wrapper
      &--big
        padding: 30px 21px 25px 32px
        border-radius: 0px 0px 8px 8px
        width: 100%
        height: 250px
    &__image
      &--big
        width: 100%
        height: 250px
        border-radius: 8px 8px 0px 0px
    &__button
      &--big
        right: 21px
        bottom: 25px
  .information
    &--big
      margin-bottom: 24px
    
      


