
@import "blocks/header/_m-header"
@import "blocks/activities/_m-activitie"
@import "blocks/breadcrumb/_m-breadcrumb"
@import "blocks/footer/_m-footer"
@import "blocks/hotel/_m-hotel"
@import "blocks/modal/_m-modal"
@import "blocks/newsletter/_m-newsletter"
@import "blocks/packages/_m-packages"
@import "blocks/reviews/_m-reviews"


//общие

@media ( max-width: 1439px )
  .container
    max-width: 700px 

@media ( max-width: 767px )
  .container
    max-width: 88%
    height: 100%
  body
    padding-top: 70px
@media ( min-width: 992px )
  button
    &:hover
      background: black
      color: green
@media only screen and (max-width : 768px) 
  .animated 
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;



