
@import "blocks/header/_m-header"
@import "blocks/activities/_m-activitie"
@import "blocks/breadcrumb/_m-breadcrumb"
@import "blocks/footer/_m-footer"
@import "blocks/hotel/_m-hotel"
@import "blocks/modal/_m-modal"
@import "blocks/newsletter/_m-newsletter"
@import "blocks/packages/_m-packages"
@import "blocks/reviews/_m-reviews"


//общие

@media ( max-width: 1439px )
  .container
    max-width: 700px 

@media ( max-width: 767px )
  .container
    max-width: 88%
    height: 100%
  body
    padding-top: 70px
@media ( min-width: 992px )
  button
    &:hover
      background: black
      color: green
  

